*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
h1{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

div{
    border:  2px solid black;
    margin: 20px;
    border-radius: 10px;
}

#butaoetaref{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    border: none;
}

button{
    margin-top: 10px;
    border-radius: 10px;
}

#espaco{
    padding: 20px;
    margin: 5px;
    
}

#taref{
    padding: 5px;
}