*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(177, 219, 247);
}
#Card{
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(243, 231, 248);
    padding: 20px;
    align-items: start;
    border: 3px solid rgb(212, 212, 212);
}
#botao{
    padding: 2px;
    border-radius: 1px;
    border: 1px solid black;
    
}
#cardbot{
    padding-left: 50px;
}

.erro{
    border: 1.5px solid red;
}
#box{
    display: flex;
    flex-direction: row;
    padding: 0;
    padding-left: 30px;
    margin: 0px;
}
label{
    padding-left: 10px;
}
p{
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}
#aviso{
    font-size: 10px;
    color: rgb(147, 124, 151);
    text-align: start;
}

#senhaperdida{
    text-decoration: underline;
    color: rgb(90, 90, 243);
}
#baixo{
    margin-top: 10em;
    margin: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(243, 231, 248);
    padding: 7px;
    align-items: start;
    border: 3px solid rgb(211, 208, 208);
}

#itens{
    padding: 3px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cadastro{
    text-decoration: underline;
    color: blue;
}

#imagem{
    width: 400px;
    padding: 20px;
}
#logo{
    background-color: white;
    height: 227px;
    padding: 20px;
    margin: 20px;
    margin-top: 60px;
    border: 3px solid rgb(211, 208, 208);
}